<h1>Main#index</h1>
<p>Find me in app/views/main/input.html.erb</p>
<%= form_tag("/main/result", :method => "get") do %>
<%= label_tag("Введите значение верхнего предела:") %>
<%= text_field_tag(:p) %> <br/>
<br/>
<%= submit_tag("Отправить на обработку") %>
<% end %>

