<style>
  table,
  th, td {
      border: 1px solid #333;
  }

  thead,
  tfoot {
      background-color: #333;
      color: #fff;
      border: 1px solid #fff;
  }
</style>

<h1>Main#result</h1>
<p>Find me in app/views/main/result.html.erb</p>
  <%= label_tag("Числа Мерсена до #{params[:p]}:") %>
  <table>
    <tr>
      <th>Число Мерсена</th>
      <th>Простое число p</th>
    </tr>
    <% @result.each do |i| %>
      <tr>
        <td><%= i[0] %></td>
        <td><%= i[1] %></td>
      </tr>
    <% end %>
  </table>
<br/>

